/*Vendors*/
@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/swiper/dist/css/swiper.min.css";
@import "../../node_modules/magnific-popup/dist/magnific-popup.css";
@import "../../node_modules/pickmeup/css/pickmeup.css";
@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css";

@import "./variables.css";
@import "./media.css";
@import "./grid.css";
@import "./icons.css";
@import "./styles.css";
@import "./swiper.css";
@import "./fonts.css";
@import "./forms.css";

/*All components*/
@import "./components/*.css";