.form-wrapp {
    margin-top: 50px;
}

.form__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
}

.form__col {
    flex-basis: 100%;
    width: 100%;
    min-width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.form__col-2 {
    flex-basis: 50%;
    width: 50%;
    min-width: 50%;
}

.form__col-3 {
    flex-basis: 33.33%;
    width: 33.33%;
    min-width: 33.33%;
}

.form__col-6 {
    flex-basis: 66.66%;
    width: 66.66%;
    min-width: 66.66%;
}

.label {
    display: block;
    width: 100%;
}

.label__title {
    margin-bottom: 4px;
}

.label__input {
    position: relative;
}

.input {
    padding: 0 20px;
    width: 100%;
    height: 46px;
    color: var(--c-grey);
    border: 1px solid var(--inputBorder);
    background-color: #f7f7f7;

    &::placeholder {
        color: var(--c-grey);
    }
    &:focus {
        outline: 0;
        border-color: var(--c-purple);
    }
    &.invalid {
        border-color: var(--c-red);
    }
}

.textarea {
    padding: 10px 20px;
    width: 100%;
    height: 140px;
    color: var(--c-grey);
    border: 1px solid var(--inputBorder);
    background-color: #f7f7f7;
    resize: none;

    &::placeholder {
        color: var(--c-grey);
    }
    &:focus {
         outline: 0;
         border-color: var(--c-purple);
    }
    &.invalid {
         border-color: var(--c-red);
    }
}

.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox__label {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.checkbox__input {
    position: absolute;
    top: 0;
    left: -100px;
    opacity: 0;
    visibility: hidden;
}

.checkbox__input:checked + .checkbox__fake:after {
    display: block;
}

.checkbox__input.error + .checkbox__fake {
    border-color: var(--c-red);
}

.checkbox__fake {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid var(--inputBorder);

    &:after {
        content: '';
        display: none;
        position: absolute;
        top: 5px;
        left: 7px;
        transform: rotate(-135deg);
        width: 6px;
        height: 10px;
        border-top: 1px solid var(--c-black);
        border-left: 1px solid var(--c-black);
    }
}

.form__button {
    margin-top: 40px;
}

.button {

}

.check-valid {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: var(--c-green);
    border-radius: 100%;

    &:after {
        content: '';
        position: absolute;
        top: 4px;
        left: 6px;
        transform: rotate(-135deg);
        width: 7px;
        height: 9px;
        border-top: 2px solid var(--c-white);
        border-left: 2px solid var(--c-white);
    }
}

.check-invalid {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: var(--c-red);
    border-radius: 100%;

    &:before {
         content: '';
         position: absolute;
         top: 9px;
         left: 3px;
         transform: rotate(-45deg);
         width: 14px;
         height: 2px;
        background-color: var(--c-white);
    }

    &:after {
         content: '';
         position: absolute;
         top: 9px;
         left: 3px;
         transform: rotate(45deg);
         width: 14px;
         height: 2px;
         background-color: var(--c-white);
    }
}

.valid {
    position: relative;
}

.invalid {
    position: relative;
    border: 1px solid var(--c-red);

    &::placeholder {
        color: var(--c-red);
    }
}